// =============================================================================
// CARD-C - CSS
// =============================================================================
#newProductLine{
    text-align: center;
}
.product-line{
    @include breakpoint("xxsmall"){
        padding-bottom: 2rem;
    }
    @include breakpoint("large"){
        padding-bottom: 0px;
    }
}
.page-heading{
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #414141;
    letter-spacing: 0.25px;
    font-family: stencilFontFamily(body-font);
    margin: 3rem 0 3rem;
}