// =============================================================================
// CATEGORY - CSS
// =============================================================================
.page{
    #newProductLine{
        text-align: left;

        .product{
            margin: 10px 10px;
        }
    }
    .actionBar-section{
        margin-left: 10px;
    }
}
.category-wrap-img{
    text-align: center;

    img{
        @include breakpoint("xxsmall"){
            width: 100%;
        }
        @include breakpoint("medium"){
            width: 50%;
        }
    }
}