// =============================================================================
// FEATURED-C - CSS
// =============================================================================
#newProductLine{
    margin: 0!important;

    .slick-dots{
        bottom: -50px!important;
        .slick-active{
            button{
                &::before{
                    background: #F3B601;
                }
            }
        }
    }
    .product{
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
        margin: 5px 10px;
        padding: 16px 23px;
        position: relative;

        @include breakpoint("xxsmall"){
            width: 100%;
        }
        @include breakpoint("medium"){
            width: 33%;
        }
        @include breakpoint("large"){
            width: 18%;
        }
    }
    .card-body{
        @include breakpoint("xxsmall"){
            text-align: left;
        }
    }
    .card{
        margin-bottom: 0;
        background-color: #fff;
        min-height: 850px;
    }
    .bot-box{
        display: grid;
        grid-template-columns: 1fr 3fr;
        >div{
            display: flex;
            flex-direction: column;
            align-items: center;
            align-self: end;
            align-items: center;
        }
    }
    .input-quat{
        border: 1px solid #CCCCCC;
        box-sizing: border-box;
        border-radius: 4px;
        width: 48px;
        height: 42px;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: #959595;
        font-family: stencilFontFamily(font_prime);
        margin-right: 10px;
    }
    .label-quant{
        padding-bottom: 20px;
        padding-right: 8px;
        font-size: 12px;
        line-height: 19px;
        font-family: stencilFontFamily(font_prime);
        color: #959595;
    }
    .add-card{
        a{
            border: 1px solid #F3B601;
            box-sizing: border-box;
            border-radius: 4px;
            background-color: #F3B601;
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            font-family: stencilFontFamily(font_prime);
            color: #253039;
            height: 42px;
            margin: 0;
            width: 100%;
        }
    }
    .raiting{
        padding-bottom: 8px;
    }
    .add-wish{
        padding-top: 11px;
        @include breakpoint("xxsmall"){
            display: none;
        }
        @include breakpoint("large"){
            display: block;
        }

        a{
            margin: 0;
            width: 100%;
            border: 1px solid #CCCCCC;
            box-sizing: border-box;
            border-radius: 4px;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 40px;
            font-family: stencilFontFamily(font_prime);
            color: #7C7C7C;
            padding: 0;
            height: 42px;

            img{
                padding-left: 15px;
            }
        }
    }
    .deliver-mes{
        p{
            font-size: 13px;
            line-height: 21px;
            font-family: stencilFontFamily(font_prime);
            color: #414141;
        }
    }
    .product-row{
        border-bottom: 1px solid #E5E5E5;
        margin-bottom: 10px;
    }
    .no-line{
        border-bottom: unset;
        margin-bottom: 0;
    }
    .card-title{

        @include breakpoint("xxsmall"){
            min-height: 99px;
        }
        @include breakpoint("medium"){
            min-height: 140px;
        }
        a{
            font-weight: 600;
            font-size: 15px;
            line-height: 22px;
            letter-spacing: 0.25px;
            text-decoration-line: underline;
            color: #414141;
            font-family: stencilFontFamily(body-font);
        }
    }
    .price-row{
        min-height: 120px;
    }
    .sale-badge{
        position: absolute;
        top: 31px;
        right: 31px;
        background-color: red;
        padding: 3px 7px;
        color: #fff;
        font-family: stencilFontFamily(body-font);
        font-weight: normal;
        font-size: 13px;
        line-height: 19px;
        text-transform: uppercase;
    }
    .brand-text{
        font-weight: normal;
        font-size: 12px;
        line-height: 19px;
        font-family: stencilFontFamily(body-font);
        color: #959595;
        padding-bottom: 15px;
        text-transform: uppercase;

        span{
            padding-right: 20px;
        }
    }
    .slick-arrow{
        background-color: transparent;
        border: none;

        &::before{
            background-image: url('../img/arow.png')
        }
    }
    .slick-next{
        &::before{
            transform: rotate(180deg);
        }
    }
}