// =============================================================================
// FOOTER (CSS)
// =============================================================================
#footer{
    background-color: #253039;
    border-top: none;
    padding: 3rem 0 0;

    .footer-info-heading{
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        letter-spacing: 0.25px;
        color: #fff;
        font-family: stencilFontFamily(body-font);
    }
    .form{
        height: 42px;
        margin: 0;
    }
    .footer-info{
        margin: 0;

        li{
            a{
                font-weight: normal;
                font-size: 13px;
                line-height: 28px;
                color: #fff;
                font-family: stencilFontFamily(font_prime);
            }
        }
        address{
            font-weight: normal;
            font-size: 13px;
            line-height: 28px;
            color: #fff;
            font-style: normal;
            font-family: stencilFontFamily(font_prime);
        }
        strong, p{
            font-weight: normal;
            font-size: 13px;
            line-height: 28px;
            color: #fff;
            font-style: normal;
            font-family: stencilFontFamily(font_prime);
        }
    }
    .form-prefixPostfix{
        .form-input{
            height: 42px;
            border-width: 0px;
            padding: 0;
            border-radius: 4px 0 0 4px;
            color: #CCCCCC;
            font-family: stencilFontFamily(font_prime);
            padding-left: 15px;
            max-width: 355px;
            width: 100%;

            @include breakpoint("xxsmall"){
                width: 70%;
            }
            @include breakpoint("large"){
                width: 100%;
            }
        }
        .button{
            font-weight: 600;
            font-size: 14px;
            line-height: 21px;
            max-width: 132px;
            color: #000;
            font-family: stencilFontFamily(body-font);
            padding: 9.5px 25px;
            margin: 0;

            @include breakpoint("xxsmall"){
                width: 35%;
            }
            @include breakpoint("medium"){
                width: 40%;
            }
            @include breakpoint("large"){
                width: 100%;
            }
        }
        .button--primary {
            background-color: #F3B601;
            border-color: #F3B601;
            border-radius: 0 4px 4px 0;
        }
    }
    .bot-box{
        @include breakpoint("xxsmall"){
            padding-bottom: 10px;
        }
        @include breakpoint("medium"){
            padding-bottom: 0px;
        }
    }
    .container{
        max-width: 1385px;
    }
    .copyright-footer-row{
        background: #323F49;
        padding: 20px 0;
    }
    .powered-by{
        font-weight: normal;
        font-size: 13px;
        line-height: 28px;
        color: #fff;
        font-style: normal;
        font-family: stencilFontFamily(font_prime);
        a{
            text-decoration: underline;
            color: #fff;
        }
    }
    .wrap-bot-line{
        display: flex;

        @include breakpoint("xxsmall"){
            flex-direction: column;
        }
        @include breakpoint("medium"){
            justify-content: space-between;
            flex-direction: row;
        }
    }
}
.social-footer{
    list-style: none;
    margin: 0;

    li{
        display: inline;
        margin-right: 7px;
    }
}