// =============================================================================
// NAVIGATION-MENU (CSS)
// =============================================================================
#customNavPages{
    background-color: #EEEEEE;
    .custom-nav_page{
        .navPages-action{
            text-transform: capitalize;
            font-weight: 300;
            padding: 0;
            color: stencilColor(dark-colour);
            @include breakpoint("medium") {
                margin-right: 5px;
                font-size: 11px;
                line-height: 21px;
            }
            @include breakpoint("large") {
                margin-right: 15px;
                font-size: 15px;
                line-height: 25px;
            }
        }
    }
    .bolder-link{
        :first-child{
            a{
                font-weight: bold;
            }
        }
    }
    .navPages-list {
        + .navPages-list{
            border-top: unset;
            margin-top: unset;
            padding-top: unset;
        }
    }
    .navPages{
        padding: 18px 0 16px;
        justify-content: space-between;
        max-width: 100%;
        background: #EEEEEE;
        align-items: baseline;

        &::after{
            display: none;
        }
        &::before{
            display: none;
        }

        @include breakpoint("xxsmall") {
            display: flex;
        }
        @include breakpoint("medium") {
            display: flex;
        }
    }
}
.navUser-section{
    display: flex;
    align-items: center;
}
.navUser-item{
    a{
        color: #fff;
        font-weight: normal;
        font-size: 15px;
        line-height: 22px;
        text-transform: capitalize;
        font-family: stencilFontFamily(body-font);
    }
}
#cart-preview-dropdown{
    a{
        color: inherit;
    }
    .previewCartAction-checkout{
        a{
            color: #fff;
        }
    }
}
