// =============================================================================
// QUICK-ADD (CSS)
// =============================================================================
#quickAdd{
    .button--primary{
        background-color: #F3B601;
        border-color: #F3B601;
        border-radius: 0 4px 4px 0;
    }
    .button{
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        color: #000;
        font-family: stencilFontFamily(body-font);
        padding: 9.5px 25px;
        margin: 0;
    }
    .fild-part{
        display: flex;
    }
    .input-quantity{
        text-align: center;
        width: 44px;
        height: 42px;
        border-width: 0px;
        padding: 0;
    }
    .input-sku{
        height: 42px;
        border-width: 0px;
        padding: 0;
        border-right: 1px solid #D9D9D9;
        border-radius: 4px 0 0 4px;
        color: #CCCCCC;
        font-family: stencilFontFamily(font_prime);
        padding-left: 15px;
        max-width: 146px;
        width: 100%;
    }
    @include breakpoint("medium") {
        display: none;
    }
    @include breakpoint("large") {
        display: block;
    }
}
