// =============================================================================
// WISHLIST-DROP - CSS
// =============================================================================
.dropdown-menu-button{
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 4px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    font-family: stencilFontFamily(font_prime);
    color: #898989;

    img{
        margin-left: 5px;
    }
}
.productView-options{
    .dropdown-menu{
        .button{
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 14px;
            font-family: stencilFontFamily(font_prime);
            color: #898989;
            border-left: 1px solid #CCCCCC;
            border-right: 1px solid #CCCCCC;
            border-bottom: 1px solid #CCCCCC;
        }
    }
}
